// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";


.tab button :hover {
    color: rgb(158, 61, 218) !important;
}

.tab .active {
    color: rgb(158, 61, 218) !important;
    background-color: rgb(243, 199, 199)!important;
}

